*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: 'Rage Italia';
    
}
nav{
    background: purple;
    height: 80px;
    width: 100vw;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    font-family: 'Comic Neue', cursive;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 5px;
    text-transform: uppercase;
}
a.active, a:hover{
    background: rgb(245, 115, 245);
    transition: .5s;
    font-size: larger;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
        font-family: 'Comic Neue', cursive;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        background: rgb(245, 115, 245);
        top:  80px;
        left: -100vw;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover, a.active{
        background: none;
        color: purple
    }
    #check:checked~ul{
        left: 0;
        z-index:1;
    }
}

@import url('https://fonts.cdnfonts.com/css/copperplate-gothic-std');

section{
   background-image:
            linear-gradient(to bottom,
              rgb(128,0,128),
              rgba(204, 42, 190, 0.75)), url(
'https://i.pinimg.com/736x/02/db/86/02db8619a47997b4995318c3e3d0844d.jpg');
    width: 100%;
    background-size: cover;
    height: 90vh;
    width: 100vw;
    padding-left: 3vw;
}

.span1{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.span2{
    font-size: 50px;
    font-family: 'Copperplate Gothic Std', sans-serif;
    font-weight: bold;
    
}
span{
    margin-left: 10vw;
    color: white;
}
.span-container{
    padding-top: 30vh;
    
}
.icons-container{
    margin-left: 10vw;
}
#btn1{
    padding: 7px;
    border-radius: 12px;
    width: 10vw;
    font-family: 'Berlin sans FB';
    font-size: 20px;
    margin-left: 10vw;
    border: none;
    box-shadow: 1px 1px 2px rgb(245, 115, 245);
}
#btn1:hover{
    background-color: rgb(245, 115, 245);
    color: white;
    transition: .5s;
}
#btn2{
    padding: 7px;
    border-radius: 12px;
    width: 10vw;
    font-family: 'Berlin sans FB';
    font-size: 20px;
    background-color: hotpink;
    color: white;
    border: none;
}
#btn2:hover{
    background-color: white;
    color: rgb(245, 115, 245);
}
.half-circle{
    height: 200px;
    width: 200px;
    border-radius: 270px;
    background-color: rgba(204, 42, 190, 0.75);
    position: absolute;
    top: 10vh;
    left: -10vw;
    opacity: 0.5;
}
button a{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

article{
    font-family: 'Comic Neue', cursive;
    margin-left: 20vw;
    margin-right: 10vw;
    padding-top: 20vh;
    color: white;
    text-align: justify;
    line-height: 5vh;
    z-index: 1;
}

.half-circle_2{
    height: 200px;
    width: 200px;
    border-radius: 270px;
    background-color: rgba(204, 42, 190, 0.75);
    position: absolute;
    top: 10vh;
    left: 25vw;
    opacity: 0.35;
    z-index: 2;
}
.half-circle_3{
    height: 200px;
    width: 200px;
    border-radius: 270px;
    background-color: purple;
    position: absolute;
    bottom: 20vh;
    right: 5vw;
    opacity: 0.3;
}
.container_image{
    position: absolute;
    height: 20vh;
    width: 20vw;
    border: 2px solid white;
    top: 20vh;
    left: 5vw;
    border-radius: 5px;
    box-sizing: content-box;
    box-shadow: 3px 3px 3px rgb(3, 3, 3);
    background: url("./120px-Node.js_logo.svg.png") no-repeat;
    background-color: bisque;
    background-size: contain;
}
.container_span1{
    font-weight: bold;
    color: white;
    top: 24vh;
    left: 20vw;
    position: absolute;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#btn3{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    top: 30vh;
    left: 30vw;
    position: absolute;
    background-color: rgb(189, 36, 219);
    color: #f9f9f8;
    border: 2px solid #fff;
    border-radius: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 3px 4px 4px rgba(3,3,3, 0.7);
}

.section_2 {
    height: 155vh;
}

.container_image{
    position: absolute;
    height: 20vh;
    width: 20vw;
    border: 2px solid white;
    top: 20vh;
    left: 5vw;
    border-radius: 5px;
    box-sizing: content-box;
    box-shadow: 3px 3px 3px rgb(3, 3, 3);
    background: url("./120px-Node.js_logo.svg.png") no-repeat;
    background-color: bisque;
    background-size: contain;
}

.container_image_2{
    position: absolute;
    height: 20vh;
    width: 20vw;
    border: 2px solid white;
    top: 50vh;
    left: 5vw;
    border-radius: 5px;
    box-sizing: content-box;
    box-shadow: 3px 3px 3px rgb(3, 3, 3);
    background: url("./index.jpg");
    background-size: contain;
    background-position: center;
}
.container_span2{
    font-weight: bold;
    color: white;
    top: 55vh;
    left: 20vw;
    position: absolute;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#btn4 {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    top: 60vh;
    left: 30vw;
    position: absolute;
    background-color: rgb(189, 36, 219);
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 3px 4px 4px rgba(3,3,3, 0.7);
}
.container_image_3{
    position: absolute;
    height: 20vh;
    width: 20vw;
    border: 2px solid white;
    top: 80vh;
    left: 5vw;
    border-radius: 5px;
    box-sizing: content-box;
    box-shadow: 3px 3px 3px rgb(3, 3, 3);
    background: url("./index.png") no-repeat;
    background-color: rgb(247, 215, 38);
    background-size: contain;
    background-position: center;
}
.container_span3{
    font-weight: bold;
    color: white;
    top: 83vh;
    left: 20vw;
    position: absolute;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#btn5 {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    top: 90vh;
    left: 30vw;
    position: absolute;
    background-color: rgb(189, 36, 219);
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 3px 4px 4px rgba(3,3,3, 0.7);
}
.container_image_4{
    position: absolute;
    height: 20vh;
    width: 20vw;
    border: 2px solid white;
    top: 110vh;
    left: 5vw;
    border-radius: 5px;
    box-sizing: content-box;
    box-shadow: 3px 3px 3px rgb(3, 3, 3);
    background: url("./wallpaper\ 2.jpg") no-repeat;
    background-color: rgb(247, 215, 38);
    background-size: cover;
    background-position: center;
}
.container_span4{
    font-weight: bold;
    color: white;
    top: 112vh;
    left: 20vw;
    position: absolute;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#btn6{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    top: 121vh;
    left: 30vw;
    position: absolute;
    background-color: rgb(189, 36, 219);
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 3px 4px 4px rgba(3,3,3, 0.7);
}
.portclass:hover {
    background-color: transparent;
}


/*#img{
    height: 80vh;
    width: 30vw;
    position: absolute;
    top: 10vh;
    right: 0;
}*/


@media (max-width: 375px), (max-width: 414px){
    section{
        height: 120vh;
        
    }
    .section_2{
        height: 170vh;
    }
    article{
        margin-left: 10vw;
        padding-top: 10vh;
    }
    .half-circle_2, .half-circle_3, .half-circle {
        height: 150px;
        width: 150px;
        opacity: 0.3;
        display: none;
    }
    .half-circle{
        display: block;
    }
    #btn1, #btn2 {
        width: 25vw;
        margin-right: vw;
        padding: 10px;
        margin-top: 8vh;
        margin-left: 15vw;
    }
    .span1{
        margin-left: 0vw;
        font-family: 'Comic Neue', cursive;
    }
    .span2{
        font-size: 55px;
        margin-left: 0vw;
    }
    
    .span3 {
        line-height: 5vh;
        margin-left: 0vw;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    #span3_b{
        color: hotpink;
        
    }
    .icons-container{
        margin-left: 25vw;
    }
    .span-container{
        text-align: center;
    }
    .half-circle{
        top: 15vh;
        left: 30vw;
        background-image: url();
        opacity: 1;
    }
    .container_image, .container_image_2, .container_image_3, .container_image_4{
        height: 15vh;
        left: 30vw;
        width: 40vw;
    }
    .container_span1, .container_span2, .container_span3, .container_span4{
        top: 32vh;
        left: -3vw;
        font-size: 18px;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: purple;
        text-align: center;
    }
    #btn3, #btn4, #btn5, #btn6{
        top: 43vh;
        left: 30vw;
        padding: 6px;
    }
    .container_image{
        top: 16vh;
    }
    .container_image_2{
        top: 56vh;
    }
    .container_image_3{
        top: 100vh;
    }
    .container_image_4{
        top: 138vh;
    }
    .container_span2{
        top: 74vh
    }
    .container_span3{
        top: 118vh;
        margin-left: 20vw;
    }
    .container_span4{
        top: 155vh;
    }
    #btn4{
        top: 85vh;
    }
    #btn5{
        top: 123vh;
    }
    #btn6{
        top: 170vh;
    }

    
}

@media (max-width: 370px){
    section{
        height: 130vh;
    }
}

@media (max-width: 330px){
    section {
        height: 140vh
    }
};